@font-face {
    font-family: "TT-Lakes";
    src:
        local("TT-Lakes normal"),
        url("TTLakes/TTLakes-Regular.woff") format("woff"),
        url("TTLakes/TTLakesCondensed-Regular.eot") format("eot"),
        url("TTLakes/TTLakesCondensed-Regular.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "TT-Lakes";
    src:
        local("TT-Lakes bold"),
        url("TTLakes/TTLakes-Bold.woff") format("woff"),
        url("TTLakes/TTLakes-Bold.eot") format("eot"),
        url("TTLakes/TTLakes-Bold.ttf") format("ttf");
    font-weight: bold;
}

@font-face {
    font-family: "TT-Lakes";
    src:
        local("TT-Lakes lighter"),
        url("TTLakes/TTLakesCondensed-Light.woff") format("woff"),
        url("TTLakes/TTLakesCondensed-Light.eot") format("eot"),
        url("TTLakes/TTLakesCondensed-Light.ttf") format("ttf");
    font-weight: lighter;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 320px;
    min-height: 1024px;
    padding: 0;
    box-shadow: 16px 0 52px 0 #0E185033,
        -2px 0 4px 0 #454F7E05;
}

header {
    width: 320px;
    height: 116px;
}

.upper-menu {
    display: flex;
    height: 116px;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.upper-menu__upper-menu-button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    padding: 0;
}

.upper-menu__burger-logo {
    display: flex;
    align-items: center;
}

.upper-menu__upper-menu-button_burger {
    background-image: url('svg/burger.svg');
}

.upper-menu__logo {
    width: 97px;
    height: 51px;
    margin-left: 18px;
}

.upper-menu__upper-menu-button_search {
    background-image: url('svg/search.svg');
}


/*main*/


ul {
    padding-left: 0;
}

.menu {
    width: 222px;
    display: flex;
    flex-direction: column;
}

.menu__menu-button {
    display: flex;
    height: 32px;
    padding-left: 20px;
    margin-left: 0;
    margin-bottom: 18px;
    font-family: "TT-Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1B1C21;
}

.menu__menu-button:hover {
    border-left: 4px solid #41F6D7;
    transition: 0.2s;
    opacity: 0.5;
}

.menu__button-href {
    display: flex;
    align-items: center;
    color: #1B1C21;
    text-decoration: none
}


/*footer*/

footer {
    margin-top: auto;
    margin-bottom: 24px;
}

.bottom__menu {
    width: 320px;
    height: 182px;
    border: 1px solid #1B1C21;


}

.upper-menu__upper-menu-button_call-me {
    background-image: url('svg/call.svg');
    margin-left: 24px;
}

.upper-menu__upper-menu-button_chat {
    background-image: url('svg/chat.svg');
    margin-left: 16px;
}

.upper-menu__upper-menu-button_profile {
    background-image: url('svg/profile.svg');
    margin-left: 16px;
}



.bottom-menu__contacts {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    font-family: "TT-Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.bottom-menu__email {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 12px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1B1C21;
}

.bottom-menu__contacts_number {
    margin-left: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.bottom-menu__contacts_languages {
    display: flex;
    width: 87px;
    height: 24px;
    justify-content: space-around;
    margin-top: 40px;
    list-style-type: none;
}

.bottom-menu__contacts_href {
    display: flex;
    align-items: center;
    color: #1B1C21;
    text-decoration: none
}

.bottom-menu__contacts_href:hover .bottom-menu__email:hover {
    transition: 0.2s;
    opacity: 0.5;
}
